body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 32em) {
  header {
    font-size: 0.875em;
  }
}

.logo > img {
  width: 40px;
  margin-top: 1.2em;
  margin-right: 1em;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
}

input {
  width: 60%;
  padding: .5em;
  margin: 1em;
}

.meme {
  position: relative;
  margin: .8em auto;
  max-width: 400px;
  padding: 1em;
  text-align: center;
}

.meme-img > img {
  width: 100%;
  border: 1px solid #eee;
}

.meme-text > h2 {
  position: absolute;
  top: 2%;
  right: 10%;
  left: 10%;
  bottom: 60%;
}

@media screen and (max-width: 32em) {
  .meme-text > h2 {
    font-size: 1.2em;
  }  
}

.meme-text-tuman > h2 {
  position: absolute;
  top: 30%;
  left: 40%;
  
}